<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Thread List</h1>
  <a href="/threads/create">Create New Thread</a>
  <dl>
  {{range .Threads}}
    <dt><strong>{{.Title}}</strong></dt>
    <dd>{{.Description}}</dd>
    <dd>
      <form action="/threads/{{.ID}}/delete" method="post">
        <button type="submit">Delete</button>
      </form>
    </dd>
  {{end}}
  </dl>
</body>
</html>
